@charset "UTF-8";
/* Variables */
/* Colores */
/* Fuentes */
/* fin variables */
/* REset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #fcfcfc;
  color: #1d1d1d;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

/* fin Reset */
h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2em;
  padding: 16px;
  font-weight: 500;
  text-shadow: 1px 2px #f2c2c2;
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5em;
  padding: 16px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2em;
  padding: 8px;
  font-weight: normal;
  text-shadow: 1px 1px #a4bfb8;
  text-align: center;
}

p {
  font-family: Montserrat, sans-serif;
  text-wrap: balance;
  text-align: center;
  max-width: 80ch;
}

.nav {
  background-color: #f2a099;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px 0;
}
.nav-logo {
  text-align: center;
  float: left;
  margin-left: 1em;
}
.nav-logo-marca {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5rem;
}
.nav-logo-slogan {
  font-family: "Montserrat Alternates", sans-serif;
}
.nav-carpincho {
  display: none;
}
.nav-menu-box {
  display: flex;
  justify-content: end;
  position: relative;
}
.nav-menu-icon {
  font-size: 24px;
  margin-right: 1em;
  cursor: pointer;
}
.nav-menu {
  border: #fcfcfc 1px solid;
  border-radius: 10px;
  background-color: #f2c2c2;
  padding: 1em;
  display: none;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 2.5em;
  right: 1em;
  z-index: 100;
}
.nav-menu .nav-artistas-item {
  font-size: 0.9rem;
  padding: 8px;
}

.nav-menu-box:hover .nav-menu {
  display: flex;
}

/* fin Header-Menu */
.footer {
  text-align: center;
}
.footer-arboleda {
  height: 150px;
  background-image: url(../assets/arboles.png);
  background-size: contain;
  background-repeat: repeat;
}
.footer-logo {
  background: linear-gradient(to bottom right, #f2c2c2, #f2a099);
  padding: 8px;
  /* Fin Footer - Logo */
}
.footer-logo-marca {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5rem;
}
.footer-logo-slogan {
  font-family: "Montserrat Alternates", sans-serif;
}
.footer-logo > p {
  font-size: small;
  padding: 8px;
}

/* Fin Footer */
/* Index */
.index-main {
  background-image: url(../assets/fondoRamas.png);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding: 48px;
}
.index-main-marca {
  background-color: white;
  border-radius: 50px;
  width: 25%;
  min-width: 250px;
  margin: 0 auto;
}
.index-main-slogan {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2rem;
  padding: 8px;
}
.index-main-img {
  max-width: 300px;
}

.index-main-img:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

/* fin Index-Main */
.artistas {
  background-image: url(../assets/FondoMadera.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 24px;
}
.artistas .artistas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
  padding: 16px;
}
.artistas .artistas-container .artista {
  padding: 16px;
  border: 1px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.5);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  max-width: 250px;
}
.artistas .artistas-container .artista-img {
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  box-shadow: 1px 1px 3px #9e8786;
}

.artistas .artista:hover {
  box-shadow: 2px 1px 10px #9e8786;
}

/* fin Index Nuestros Artistas */
.index-esencia {
  text-align: center;
  padding: 24px;
}
.index-esencia .esencia-text-box {
  max-width: 80ch;
  margin: 0 auto;
}
.index-esencia .esencia-text-box p {
  padding: 8px 0;
}

/* fin Index - Nuestra esencia */
/* Páginas artistas */
.artista-main {
  background-image: url(../assets/fondoHojas.png);
  background-size: cover;
  padding: 48px 24px;
}
.artista-main .artista {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 300px;
  max-width: 450px;
  padding: 24px;
  margin: 80px auto 0 auto;
  border-radius: 24px;
  background-color: rgba(164, 191, 184, 0.15);
  backdrop-filter: blur(3px);
  border: 1.5px solid rgba(164, 191, 184, 0.1);
}
.artista-main .artista-img {
  max-width: 100%;
  object-fit: cover;
  margin: -100px 0 30px 0;
  border-radius: 100%;
  box-shadow: 1px 2px 5px #9e8786;
}
.artista-main .artista-datos {
  padding-bottom: 24px;
}
.artista-main .artista-datos-nombre {
  padding: 0;
}
.artista-main .artista-datos-contacto {
  padding-top: 16px;
}
.artista-main .artista-datos-contacto span {
  color: #a4bfb8;
  font-size: larger;
}
.artista-main .artista-datos-contacto li {
  padding: 4px;
}

/* Fin Artista Main Card */
.artista-descripcion {
  padding: 24px;
}
.artista-descripcion p {
  margin: 0 auto;
  padding: 8px;
}

/* Fin Artista descripción */
.obras {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 100%;
  text-align: center;
}
.obras-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  background: radial-gradient(#fcfcfc, #f2f2f2, #a4bfb8);
  padding: 32px 0;
  border-radius: 16px;
}
.obras .obra {
  position: relative;
  max-width: 300px;
  max-height: 300px;
}
.obras .obra-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #9e8786;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show-obras;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.obras .obra-datos {
  width: 100%;
  text-align: center;
  background-color: rgba(242, 160, 153, 0.7);
  position: absolute;
  bottom: -15px;
  padding: 8px;
  color: #fcfcfc;
  display: block;
  opacity: 0;
  border-radius: 8px;
  transition: all 0.5 ease-in-out;
}
.obras .obra:hover .obra-datos {
  opacity: 1;
  display: block;
  bottom: 0;
}

@keyframes show-obras {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
/* Fin Galería de obras */
.acceso {
  padding: 64px 24px 24px 24px;
  text-align: center;
}
.acceso-box {
  margin: 0 auto;
  padding: 24px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
.acceso-artista {
  max-width: 200px;
  padding: 16px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
.acceso-artista-img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 2px 2px 5px #9e8786;
}

.acceso-artista:hover {
  box-shadow: 1px 2px 5px #9e8786;
}

/* Fin Acceso a otros artistas */
/* Fin Página Artistas */
/* Página Contacto */
.contacto-main {
  background-image: url(../assets/fondoRamas.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.contacto-main .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
}
.contacto-main .contacto-img {
  border-radius: 100%;
  box-shadow: 1px 2px 5px #9e8786;
  max-width: 250px;
}
.contacto-main .contacto-img:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}
.contacto-main .contacto-redes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-around;
}
.contacto-main .contacto-redes .bi {
  color: #a4bfb8;
}
.contacto-main .contacto-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #fcfcfc;
  border: 1px solid #a4bfb8;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #9e8786;
  min-width: 300px;
}
.contacto-main .contacto-form label {
  display: block;
  padding: 8px 0 4px 0;
}
.contacto-main .contacto-form input:not(.button) {
  border: 1px solid #a4bfb8;
  height: 32px;
  min-width: 80px;
  width: 100%;
}
.contacto-main .contacto-form textarea {
  border: 1px solid #a4bfb8;
  width: 100%;
  min-height: 124px;
}
.contacto-main .contacto-form .button {
  height: 32px;
  background-color: #a4bfb8;
  border: none;
  box-shadow: 1px 2px 5px #9e8786;
  margin: 16px auto 8px auto;
  width: 50%;
}

/* Fin Página Contacto */
@media (min-width: 800px) {
  .nav {
    grid-template-columns: 3fr 1fr 3fr;
  }
  .nav-carpincho {
    display: block;
    width: 80px;
    justify-self: center;
  }
  .nav-menu-icon {
    display: none;
  }
  .nav-menu {
    border: none;
    border-radius: 0;
    background-color: inherit;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
    top: 0;
    right: 0;
    align-self: start;
    margin-right: 1em;
    font-weight: 500;
  }
  .nav-menu-item {
    padding: 8px;
  }
  .nav-menu-item a {
    background-color: transparent;
  }
  .nav .nav-artistas {
    display: none;
    font-size: 1rem;
    padding: 8px;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    background-color: #f2a099;
    border: 1px solid #f2c2c2;
    border-radius: 10%;
  }
  .nav .nav-artistas-item {
    padding: 4px;
  }
  .active {
    background-color: #f2c2c2;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .nav-menu-item:hover,
  .nav-artistas-item:hover {
    border-bottom: 3px solid #f2c2c2;
  }
  .nav-menu-artistas:hover .nav-artistas {
    display: flex;
  }
  /* Fin Nav - Menú */
  /* Fin Header*/
  /* Página Artistas */
  .artista-main .artista {
    flex-direction: row;
    width: max-content;
    min-width: 600px;
    max-width: 800px;
    padding: 24px;
    margin: 0 auto;
  }
  .artista-main .artista-img {
    max-width: 300px;
    margin: 0 0 0 -80px;
    border-radius: 24px;
  }
  .artista-main .artista-datos {
    padding: 0 24px 0 24px;
    text-align: start;
  }
  .obras {
    padding: 24px;
    max-width: 70vw;
  }
  .contacto-main {
    background-size: cover;
    background-position: bottom;
  }
}

/*# sourceMappingURL=style.css.map */
