body {
    font-family: "Montserrat", sans-serif;
}

.logo, .slogan {
    font-family: "Montserrat Alternates", sans-serif;
}

.encabezado {
    background-color: #EFCAAC;
}

.carousel-item {
    width: 400px;
}