h1 {
    font-family: map-get($map: $h1-font, $key: family);
    font-size: map-get($map: $h1-font, $key: size);
    padding: map-get($map: $h1-font, $key: padding);
    font-weight: 500;
    text-shadow: 2px 2px $primary-color-light;
}

h2 {
    font-family: map-get($map: $h2-font, $key: family);
    font-size: map-get($map: $h2-font, $key: size);
    padding: map-get($map: $h2-font, $key: padding);
    font-weight: normal;
}

h3 {
    font-family: map-get($map: $h3-font, $key: family);
    font-size: map-get($map: $h3-font, $key: size);
    padding: map-get($map: $h3-font, $key: padding);
    font-weight: normal;
    text-shadow: 1px 1px $secondary-color;
}