/* Páginas artistas */

.artista-main {
    background-image: url(../assets/fondoHojas.png);
    background-size: cover;
    padding: 48px;

    .artista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
        text-align: center;

        &-img {
            max-width: 350px;
            min-width: 250px;
            border-radius: 100%;

            box-shadow: 2px 2px 10px $shadow-color;
        }

        &-datos {
            padding-bottom: 24px;

            &-nombre {
                padding: 24px;
            }

            &-contacto {

                p {
                    padding: 4px;
                }
            }
        }

    }

}

.artista-descripcion {
    padding: 24px;

    p {
        text-align: center;
        margin: 0 auto;
        max-width: 80ch;
        padding: 8px;
    }
}


.obras {
    margin: 0 auto;
    padding: 24px;
    max-width: 1200px;
    text-align: center;

    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;



    }

    .obra {
        position: relative;
        max-width: 300px;
        max-height: 300px;

        &-img {
            width: 100%;
            border-radius: 8px;
            box-shadow: 2px 2px 10px $shadow-color;
        }

        &-datos {
            width: 100%;
            text-align: center;
            background-color: rgba($primary-color, 0.7);
            position: absolute;
            bottom: -15px;
            padding: 8px;
            color: $grey-light;
            display: block;
            opacity: 0;
            border-radius: 8px;
            transition-duration: 1s;
            transition-timing-function: ease;


        }
    }

    .obra:hover .obra-datos {
        opacity: 1;
        display: block;
        bottom: 0;
    }
}

.acceso {
    padding: 64px 24px 24px 24px;
    text-align: center;


    &-box {
        margin: 0 auto;
        padding: 24px;
        min-width: 300px;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 24px;
    }

    &-artista {
        max-width: 200px;



        &-img {
            width: 100%;
            border-radius: 100%;
            box-shadow: 2px 2px 5px $shadow-color;

        }
    }
}