/* Páginas artistas */

// **************************
// * Artista - Foto + datos *
// **************************
.artista-main {
    background-image: url(../assets/fondoHojas.png);
    background-size: cover;
    padding: 48px;

    .artista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
        text-align: center;
               
        &-img {
            max-width: 350px;
            min-width: 250px;
            border-radius: 100%;
            box-shadow: 2px 2px 10px $shadow-color;    
        }
        
        &-datos {
            padding-bottom: 24px;
            background-color: rgba($secondary-color, .10);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 10px;
            border: 1.5px solid rgba($secondary-color, .10);

            &-nombre {
                padding: 24px;
            }

            &-contacto {

                span {
                    color: $secondary-color;
                    font-size: larger;
                }

                li {
                    padding: 4px;
                }
            }
        }
    }
}
/* Fin Artista Main - Foto + Datos */


// *************************
// * Artista - Descripción *
// *************************

.artista-descripcion {
    padding: 24px;

    p {
        text-align: center;
        margin: 0 auto;
        max-width: 80ch;
        padding: 8px;
    }
}
/* Fin Artista descripción */


// ********************
// * Galería de obras *
// ********************

.obras {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 1200px;
    text-align: center;

    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        background: radial-gradient($grey-light, $grey, $secondary-color);
        padding: 32px 0;
        border-radius: 16px;
    }

    .obra {
        position: relative;
        max-width: 300px;
        max-height: 300px;

        &-img {
            width: 100%;
            border-radius: 8px;
            box-shadow: 2px 2px 10px $shadow-color;
            view-timeline-name: --image;
            view-timeline-axis: block;
            animation-timeline: --image;
            animation-name: show-obras;
            animation-range: entry 25% cover 30%;
            animation-fill-mode: both;
        }

        &-datos {
            width: 100%;
            text-align: center;
            background-color: rgba($primary-color, 0.7);
            position: absolute;
            bottom: -15px;
            padding: 8px;
            color: $grey-light;
            display: block;
            opacity: 0;
            border-radius: 8px;
            transition: all 0.5 ease-in-out;
        }
    }

    .obra:hover .obra-datos {
        opacity: 1;
        display: block;
        bottom: 0;
    }
}

@keyframes show-obras {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* Fin Galería de obras */

// ****************************
// * Enlaces a otros artistas *
// ****************************

.acceso {
    padding: 64px 24px 24px 24px;
    text-align: center;

    &-box {
        margin: 0 auto;
        padding: 24px;
        min-width: 300px;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 24px;
    }

    &-artista {
        max-width: 200px;
        padding: 16px;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;

        &-img {
            width: 100%;
            border-radius: 100%;
            box-shadow: 2px 2px 5px $shadow-color;
        }
    }
}

.acceso-artista:hover {
    box-shadow: 1px 2px 5px $shadow-color;
}

/* Fin Acceso a otros artistas */

/* Fin Página Artistas */

