/* Index */

// ***************************
// * Main - Logo + carpincho *
// ***************************

.index-main {
    background-image: url(../assets/fondoRamas.png);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding: 48px;

    &-marca {
        background-color: white;
        border-radius: 50px;
        width: 25%;
        min-width: 250px;
        margin: 0 auto;
    }

    &-slogan {
        font-family: $title-font;
        font-size: 1.2rem;
        padding: 8px;
    }

    &-img {
        max-width: 300px;
    }

   

}

.index-main-img:hover {
    transform: rotate(360deg);
    transition-duration: 1s;    
}

/* fin Index-Main */


// *********************
// * Nuestros artistas *
// *********************
.artistas {
    background-image: url(../assets/FondoMadera.jpg);
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    padding: 24px;

    .artistas-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 16px;
        padding: 16px;

        .artista {
            padding: 16px;
            border: 1px solid $grey-light;
            background-color: rgba($grey-light, 0.5);
            border-top-left-radius: 30%;
            border-top-right-radius: 30%;
            max-width: 250px;

            &-img {
                border-top-left-radius: 30%;
                border-top-right-radius: 30%;
                box-shadow: 1px 1px 3px $shadow-color;
            }
        }
    }
}

.artistas .artista:hover {
    box-shadow: 2px 1px 10px $shadow-color;    
}

/* fin Index Nuestros Artistas */

// *******************
// * Nuestra esencia *
// *******************

.index-esencia {
    text-align: center;
    padding: 24px;
    
    .esencia-text-box {
        max-width: 80ch;
        margin: 0 auto;
        

        p {
            padding: 8px 0;
        }
    }

}

/* fin Index - Nuestra esencia */