/* Index */

// ***************************
// * Main - Logo + carpincho *
// ***************************

.index-hero {
    background-image: url(../assets/img/fondoRamas.png);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    @extend %section-padding;
  
    &-marca {
        background-color: white;
        border-radius: 50px;
        width: 25%;
        min-width: 250px;
        margin-inline: auto;
    }

    &-slogan {
        font-family: $title-font;
        font-size: 1.2em;
        padding: 0.5em;
    }

    &-img {
        width: 300px;
        max-width: 300px;
        margin-inline: auto;
    }
    
    
}
.index-hero-img:hover {
    transform: rotate(360deg);
    transition-duration: 0.8s;
}

/* fin Index-Main */


// *********************
// * Nuestros artistas *
// *********************
.artistas {
    background-image: url(../assets/img/fondoMadera.jpg);
    background-size: cover ;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    @extend %section-padding;

    .artistas-container {
        @include flexible (null, wrap, null, space-evenly, 1em);
        padding: 1em;
        max-width: 1400px;
        margin-inline: auto;

        .artista {
            padding: 1em;
            border: 1px solid $grey-light;
            background-color: rgba($grey-light, 0.5);
            border-top-left-radius: 30%;
            border-top-right-radius: 30%;
            max-width: 250px;
            transition: all 0.5s ease;

            &-img {
                border-top-left-radius: 30%;
                border-top-right-radius: 30%;
                @extend %box-shadow;
            }

            &-ver {                
                font-size: 0.9em;
                
            }
        }
    }
}

.artistas .artista:hover {
    @extend %box-shadow;   
 
}



/* fin Index Nuestros Artistas */

// *******************
// * Nuestra esencia *
// *******************

.index-esencia {
    text-align: center;
    @extend %section-padding;
}

/* fin Index - Nuestra esencia */