/* Variables *

/* Colores */
$primary-color: #f2a099;
$primary-color-light: #f2c2c2;
$secondary-color: #a4bfb8;
$secondary-color-light: #dcf2e4;
$secondary-color-dark: #54726a;
$shadow-color: #9e8786;
$grey: #f2f2f2;
$grey-light: #fcfcfc;
$black: #1d1d1d;



/* Fuentes */
$title-font: "Montserrat Alternates", sans-serif;
$paragraph-font: Montserrat, sans-serif;


/* Sombras */

%box-shadow {
  box-shadow: 1px 2px 5px $shadow-color;
}

@mixin text-shadow ($color, $x:1px, $y:2px, $p:5px){
  text-shadow: $x $y $p $color;
}

/* Padding */
%section-padding {
  padding: 2em;
}


/* Flexbox */
@mixin flexible ($direction, $wrap, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}


/* fin variables */


